@model Telemedicine.App.Models.UserViewModel
<form asp-action="ResetPassword" asp-controller="Login" method="post" class="mt-1" data-ajax="true" data-ajax-begin="onAjaxBegin()" data-ajax-complete="onAjaxComplete()" data-ajax-success="onResetPasswordSuccess(data)">
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">lock_open</i>
            <input type="password" asp-for="ResetPasswordRequestDto.CurrentPassword">
            <label asp-for="ResetPasswordRequestDto.CurrentPassword">Current Password</label>
            <span class="red-text" asp-validation-for="ResetPasswordRequestDto.CurrentPassword"></span>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input type="password" asp-for="ResetPasswordRequestDto.NewPassword">
            <label asp-for="ResetPasswordRequestDto.NewPassword">New Password</label>
            <span class="red-text" asp-validation-for="ResetPasswordRequestDto.NewPassword"></span>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input type="password" asp-for="ResetPasswordRequestDto.ConfirmPassword">
            <label asp-for="ResetPasswordRequestDto.ConfirmPassword">Confirm Password</label>
            <span class="red-text" asp-validation-for="ResetPasswordRequestDto.ConfirmPassword"></span>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <button class="btn cyan waves-effect waves-light right gradient-45deg-indigo-light-blue font-weight-900" type="submit">
                Reset Password
                <i class="material-icons right">lock_outline</i>
            </button>
        </div>
    </div>
</form>