<aside id="right-sidebar-nav">
    <div id="slide-out-right" class="slide-out-right-sidenav sidenav rightside-navigation">
        <div class="row">
            <div class="slide-out-right-title">
                <div class="col s12 border-bottom-1 pb-0 pt-1">
                    <div class="row">
                        <div class="col s12">
                            <i class="material-icons vertical-text-middle"><a href="#" class="sidenav-close">clear</a></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-out-right-body row pl-3">
                <div class="col s12 pl-1">
                    <div class="collection border-none mb-0">
                        <input class="header-search-input mt-4 mb-2" type="text" name="Search" placeholder="Search Messages" />
                        <ul class="collection right-sidebar-chat p-0 mb-0">
                            <li class="collection-item right-sidebar-chat-item sidenav-trigger display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
                                <span class="avatar-status avatar-online avatar-50">
                                    <img src="#" onerror="transformErrorImgToLettersAvatar(this, 'Elizabeth Elliott', '50')" alt="" />
                                    <i></i>
                                </span>
                                <div class="user-content pl-5">
                                    <h6 class="line-height-0">Elizabeth Elliott</h6>
                                    <p class="medium-small blue-grey-text text-lighten-3 pt-3">Thank you</p>
                                </div>
                                <span class="secondary-content medium-small">5.00 AM</span>
                            </li>
                            <li class="collection-item right-sidebar-chat-item sidenav-trigger display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
                                <span class="avatar-status avatar-online avatar-50">
                                    <img src="#" onerror="transformErrorImgToLettersAvatar(this, 'Mary Adams', '50')" alt="" />
                                    <i></i>
                                </span>
                                <div class="user-content pl-5">
                                    <h6 class="line-height-0">Mary Adams</h6>
                                    <p class="medium-small blue-grey-text text-lighten-3 pt-3">Hello Boo</p>
                                </div>
                                <span class="secondary-content medium-small">4.14 AM</span>
                            </li>
                            <li class="collection-item right-sidebar-chat-item sidenav-trigger display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
                                <span class="avatar-status avatar-off avatar-50">
                                    <img src="#" onerror="transformErrorImgToLettersAvatar(this, 'Caleb Richards', '50')" alt="" />
                                    <i></i>
                                </span>
                                <div class="user-content pl-5">
                                    <h6 class="line-height-0">Caleb Richards</h6>
                                    <p class="medium-small blue-grey-text text-lighten-3 pt-3">Hello Boo</p>
                                </div>
                                <span class="secondary-content medium-small">4.14 AM</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Slide Out Chat -->
    <ul id="slide-out-chat" class="sidenav slide-out-right-sidenav-chat">
        <li class="center-align pt-2 pb-2 sidenav-close chat-head">
            <a href="#!"><i class="material-icons mr-0">chevron_left</i>Elizabeth Elliott</a>
        </li>
        <li class="chat-body">
            <ul class="collection">
                <li class="collection-item display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
                    <span class="avatar-status avatar-online avatar-50">
                        <img src="#" onerror="transformErrorImgToLettersAvatar(this, 'Elizabeth Elliott', '50')" alt="" />
                    </span>
                    <div class="user-content speech-bubble">
                        <p class="medium-small">hello!</p>
                    </div>
                </li>
                <li class="collection-item display-flex avatar justify-content-end pl-5 pb-0" data-target="slide-out-chat">
                    <div class="user-content speech-bubble-right">
                        <p class="medium-small">How can we help? We're here for you!</p>
                    </div>
                </li>
                <li class="collection-item display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
                    <span class="avatar-status avatar-online avatar-50">
                        <img src="#" onerror="transformErrorImgToLettersAvatar(this, 'Elizabeth Elliott', '50')" alt="" />
                    </span>
                    <div class="user-content speech-bubble">
                        <p class="medium-small">I have headache</p>
                    </div>
                </li>
                <li class="collection-item display-flex avatar justify-content-end pl-5 pb-0" data-target="slide-out-chat">
                    <div class="user-content speech-bubble-right">
                        <p class="medium-small">Take Panadol</p>
                    </div>
                </li>

                <li class="collection-item display-grid width-100 center-align">
                    <p>8:20 a.m.</p>
                </li>

                <li class="collection-item display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
                    <span class="avatar-status avatar-online avatar-50">
                        <img src="#" onerror="transformErrorImgToLettersAvatar(this, 'Elizabeth Elliott', '50')" alt="" />
                    </span>
                    <div class="user-content speech-bubble">
                        <p class="medium-small">Ohh! Thank you.</p>
                    </div>
                </li>
                <li class="collection-item display-flex avatar justify-content-end pl-5 pb-0" data-target="slide-out-chat">
                    <div class="user-content speech-bubble-right">
                        <p class="medium-small">Welcome</p>
                    </div>
                </li>
            </ul>
        </li>
        <li class="center-align chat-footer">
            <form class="col s12" onsubmit="slideOutChat()" action="javascript:void(0);">
                <div class="input-field">
                    <input id="icon_prefix" type="text" class="search" />
                    <label for="icon_prefix">Type here..</label>
                    <a onclick="slideOutChat()"><i class="material-icons prefix">send</i></a>
                </div>
            </form>
        </li>
    </ul>
</aside>