@*<form asp-action="GetLocationForm" asp-controller="Doctors" method="post" data-ajax="true" data-ajax-success="getLocationFormSuccess(data)">
    <div class="modal-header mb-2">
        <h4 class="modal-title center">Who do you want to book the appointment for?</h4>
    </div>
    <div class="modal-body text-center">
        <div class="row">
            <div class="input-field col s12">
                <input id="reason" type="text">
                <label for="reason">Reason for appointment</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <button type="submit" class="waves-effect waves-light btn-small mb-1 mr-1 white-text green-success"><i class="material-icons left">navigate_next</i>Submit</button>
            </div>
        </div>
    </div>
</form>*@
<div class="modal-header mb-2">
    <h5 class="modal-title center">What is your main concern?</h5>
</div>
<div class="modal-body text-center">
    <div class="row">
        <div class="input-field col s12">
            <input id="reason" type="text">
            <label for="reason">Type here...</label>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col s12 center">
            <button type="submit" class="waves-effect waves-light btn-small mb-1 mr-1 modal-close green-success"><i class="material-icons left">search</i> Search Doctors</button>
        </div>
    </div>
</div>